body{
    margin: 0;
    padding: 0;
    background-color:#fcf5e8;
    font-family: 'playfair_displayregular';
  }
  
  h1, h2{
    color: #f44336;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h3 {
    color: #f44336;
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p{
      color: #5F5D59;
  }
  
#wrapper{
    width: 960px;
    margin: 0 auto;
}

#logo{
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100px;
}

#menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-decoration: none;
}

#menu li a {
    text-transform: uppercase;
    color: #EB984E;
    font-size: 25px;
    margin-left: 60px;
}

#menu li a:hover {
    text-decoration: underline;
    color: #f44336;

}

a 
{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}


#banner {
    margin-bottom: 95px;
}

.banner-pic{
    height: 600px;
    width: 960px;
}

.permbajtja{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}


.boksi{
    width: 400px;
    height: 400px;
    margin: 20px;
    background: #efd9c2;
    box-sizing: border-box;
    font-size: 20px;
}




/*#footer ul {
    list-style-type: none;
}

#footer ul li {
    display: inline-block;
    
    color:#EB984E ;
}

#footer ul li:last-child {
    margin-right: 0;
}

#footer ul li a {
    font-size: 14px;
    color: #000000;
    
}

#orari{
    display: flex;
    justify-content: flex-start;
}
*/
#social li a{
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}
	


