body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(FotojaBackground.jpg); 
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: monospace;
	background-color: #331400 ;

}

.Titulli-Kontaktit
{
	margin-top: 100px;
	color:#fff;
	transition: all 4s ease-in-out;
}

.Titulli-Kontaktit h1
{
	font-size: 32px;
	line-height: 10px;
	color: wheat ;
	font-style: normal; 
	text-transform: uppercase;
}

.Titulli-Kontaktit h2
{
	font-size: 16px ;
	color: wheat ;
	text-transform: none;
}

form
{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control
{
	width: 600px;
	background: transparent;
	border: none;
	border-bottom: 1px solid orange ;
	color: #FFFFFF ;
	font-size: 18px;
	margin-bottom: 16px ;
}

input
{
	height: 45px ;
}

form .submit
{
	background: #EB984E ;
	border-color: transparent ;
	color: #fff;
	font-size: 20px ;
	font-weight: bold ;
	letter-spacing: 2px;
	height: 50px ;
	margin-top: 20px ;
}

form .submit:hover
{
	background-color: #f44336 ;
	cursor: pointer;
}

/*::-webkit-input-placeholder { 
  color: #fff9e6 ;
}